.control-group {
    button {
        padding: 0.5rem;
    }

    button:hover {
        background-color: rgb(0 0 0 / 0.1);
    }

    svg {
        width: 1.1rem;
        height: 1.2rem;
    }
}


.button-group {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    align-items: center;
}

@media (min-width: 768px) {
    .button-group {
        column-gap: 1rem;
        justify-content: space-between;
    }
}