.control-group {
    button {
        padding: 0.5rem;
    }

    button:hover {
        background-color: rgb(0 0 0 / 0.1);
    }

    svg {
        width: 1.12rem;
        height: 1.12rem;
    }
}


.button-group {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    align-items: center;
}